<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <processors>
      <uiNewFolderItem>
        <processor mode="on" type="Sitecore.Support.Shell.Framework.Pipelines.NewFolderItem, Sitecore.Support.171079" method="Execute"  patch:instead="processor[@method='Execute']" />
      </uiNewFolderItem>
    </processors>
  </sitecore>
</configuration>